# ROS2
build/
install/
log/

# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.swp

# VSCode
.vscode/

# Virtual environments
.venv/
venv/

# OS
.DS_Store

# Large files
*.bag
*.db3
*.zip
*.pth
*.pt
*.onnx
*.mp4
*.avi
